{% extends "base.html" %}

    {% block title %}
        All users
    {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {%if messages %}
            {%for message in messages %}
                <p class="text-center">{{message}}</p>
            {% endfor %}
        {%endif%}
    {% endwith %}
    <div class="d-flex align-items-center justify-content-center flex-column h-100 gap-3">
        {% for item in values %}
            <div class="border border-info-subtle rounded-4 p-3">
                <p>Name : {{item.name}}</p>
                <p>Email : {{item.email}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}